.hero__title {
    text-align: left;
    letter-spacing: 0.04em;
    line-height: 0.9em;
    margin: 0;
    max-width: 277px;
}


/* @media screen and (max-width: 767px) { 
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin: 0 0 16px;
        max-width: 288px;
    }
}*/