.section-subtitle {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13em;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-heading-secondary);
    padding: 0;
}