.products__item-description {
    color: var(--color-text-primary);
    background-color: var(--color-bg-rose);
    text-align: center;
    padding: 163px 44px 50px;
    margin-top: -125px;
    position: relative;
    /* position: absolute; */
    /* top: 210px; */
    z-index: -1;
    border: none;
    border-radius: 24px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    -webkit-border-radius: 24px;
}
