.header {
    max-width: 100%;
    padding: 37px 115px 0px 46px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-bg-rose);
}


/*
@media screen and (max-width: 1184px) {
    .header {
        padding: 28px 48px 48px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 28px 24px 48px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 16px 16px 48px;
    }
}*/