.counter__item {
    position: relative;
    font-family: 'Titan One';
    font-size: 46px;
    line-height: 1.15em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-heading-primary);
    padding-left: 20px;
    margin-bottom: 19px;
    z-index: 2;
}

.counter__item::after {
    content: "";
    background-image: url(../../../images/counter/counter-circle.svg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -4px;
    right: 0;
    height: 30px;
    width: 30px;
    z-index: -1;
}
